.promo__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 2rem;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.promo__logo {
    display: flex;
    align-items: center;
    font-size: 250px;
}

.promo__info .title {
    font-size: 50px;
    color: var(--main-color);
}

.promo__info .descr {
    margin-top: 20px;
}