@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
  --main-color: #3f50b5;
  --text-color: #323232;
  --shadow: 0 2px 6px rgb(0, 0, 0, 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, a, input {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.container {
  max-width: 1420px;
  padding: 0 2rem;
  margin: 0 auto;
}